{% extends "base.html" %}
{% block content %}

    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/event_manage/">AUTO_TEST</a>
            </div>
            {#        <div id="navbar" class="collapse navbar-collapse">#}
            {#          <ul class="nav navbar-nav">#}
            {#            <li class="active"><a href="#">发布会</a></li>#}
            {#            <li><a href="/guest_manage/">嘉宾</a></li>#}
            {#          </ul>#}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ block_name }}</a></li>
                <li><a href="#">模块ID_{{ block_id }}</a></li>
                <li><a href="#">{{ user }}</a></li>
                <li><a href="/logout/">退出</a></li>
            </ul>
        </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container theme-showcase" role="main">

    <!--发布会表单-->
    <div class="page-header">
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form" method="get" action="/search_name/">
                <div class="form-group">
                    <input name="name" type="text" placeholder="名称" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">搜索</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped" data-toggle="table" id="step_list">
                {#            <thead>#}
                {#              <tr>#}
                {#                <th>id</th>#}
                {#                <th>项目名称</th>#}
                {#                <th>项目描述</th>#}
                {#                <th>创建/修改人</th>#}
                {#                <th>创建/修改时间</th>#}
                {#                <th>是否可用</th>#}
                {#              </tr>#}
                {#            </thead>#}
                {#            <tbody>#}
                {#              {% for object in object_list %}#}
                {#                <tr>#}
                {#                  <td>{{ object.id }}</td>#}
                {#                  <td>{{ object.ob_name }}</td>#}
                {#                  <td>{{ object.ob_content }}</td>#}
                {#                  <td>{{ object.tester }}</td>#}
                {#                  <td>{{ object.ob_mf_time }}</td>#}
                {#                  <td>{{ object.yn }}</td>#}
                {##}
                {#                </tr>#}
                {#             {% endfor %}#}
                {#            </tbody>#}
            </table>
            <p></p>
            <button id="btn_add" type="button" class="btn btn-default" onclick="add_step()"><span
                    class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>
            <button id="btn_save_sn" type="button" class="btn btn-default" onclick="save_step_sn()"><span
                    class="glyphicon glyphicon-plus" aria-hidden="true"></span>保存排序
            </button>
            <button id="start_steps" type="button" class="btn btn-default" onclick="start_steps()"><span
                    class="glyphicon glyphicon-plus" aria-hidden="true"></span>开始执行
            </button>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        {#定义加载函数#}
        function load_table() {
            $('#step_list').bootstrapTable({
                method: 'POST',
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                cache: false,
                striped: true,                       //是否显示行间隔色
                sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                showColumns: true,
                showRefresh: true,
                pagination: true,
                minimumCountColumns: 2,
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 15, 20, 25],        //可供选择的每页的行数（*）
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showExport: true,
                exportDataType: 'all',
                exportTypes: ['csv', 'txt', 'sql', 'doc', 'excel', 'xlsx', 'pdf'],  //导出文件类型
                data: [

                    {% for step in step_list %}
                        {
                            {#                    sn:'{{ forloop.counter }}',#}
                            sn: '{{ step.sp_sequence }}',
                            step_id: '{{ step.id }}',
                            block: '{{ step.block }}',
                            sp_name: '{{ step.sp_name }}',
                            sp_content: '{{ step.sp_content }}',
                            tester: '{{ step.tester }}',
                            sp_mf_time: '{{ step.sp_mf_time }}',
                            key_words: '{{ step.key_words }}',
                            locate_way: '{{ step.locate_way }}',
                            locate_content: '{{ step.locate_content }}',
                            value: '{{ step.value }}',
                            sp_assert: '{{ step.sp_assert }}',
                            yn: '{{ step.yn }}',
                            active: '<button id="btn_add" type="button" class="btn btn-default" onclick="delete_step(this)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>删除</button>'

                        },
                    {% endfor %}

                ],
                columns: [
                    {
                        field: 'sn',
                        title: '行号'
                    }, {
                        field: 'step_id',
                        title: 'ID'
                    }, {
                        field: 'sp_name',
                        title: '步骤名',
                        editable: {
                            type: 'text',
                            validate: function (value) {
                                if ($.trim(value) == '') {
                                    return '步骤名不能为空!';
                                }
                            }
                        }
                    }, {
                        field: 'sp_content',
                        title: '步骤内容',
                        editable: {
                            type: 'text'
                        }
                    }, {
                        field: 'tester',
                        title: '操作人',

                    }, {
                        field: 'sp_mf_time',
                        title: '修改时间',
                    }, {
                        field: 'key_words',
                        title: '关键字',
                        editable: {
                            type: 'select',
                            source: [
                                {value: 'open_browser', text: 'open_browser'},
                                {value: 'set_ulr', text: 'set_ulr'},
                                {value: 'click', text: 'click'},
                                {value: 'input', text: 'input'},
                                {value: 'close', text: 'close'},
                            ]
                        }
                    }, {
                        field: 'locate_way',
                        title: '定位方式',
                        editable: {
                            type: 'select',
                            source: [
                                {value: 'by_id', text: 'by_id'},
                                {value: 'xpath', text: 'xpath'},
                                {value: 'link text', text: 'link text'},
                                {value: 'name', text: 'name'},,
                                {value: 'tag name', text: 'tag name'},
                                {value: 'class name', text: 'class name'},
                                {value: 'css selector', text: 'css selector'}
                            ]
                        }
                    },{
                        field: 'locate_content',
                        title: '定位内容',
                        editable: {
                            type: 'text'
                        }
                    },{
                        field: 'value',
                        title: '值',
                        editable: {
                            type: 'text'
                        }
                    },{
                        field: 'sp_assert',
                        title: '断言',
                        editable: {
                            type: 'text'
                        }
                    },{
                        field: 'yn',
                        title: '是否可用',
                        editable: {
                            type: 'select',
                            pk: 1,
                            source: [
                                {value: 1, text: '1'},
                                {value: 0, text: '0'},
                            ]
                        }
                    }, {
                        field: 'active',
                        title: '操作',
                    }],
                {#当行数据变动时的保存操作#}
                onEditableSave: function (field, row, oldValue, $el) {
                    {#            alert(field +'++++++'+ row.value +'+++++++'+oldValue +'+++++'+ $el)//打印一些实验信息 #}
                    $.ajax({
                        type: "post",
                        contentType: "application/x-www-form-urlencoded",
                        url: "/edit_step/",
                        data: {"field": field, "row": JSON.stringify(row), csrfmiddlewaretoken: '{{ csrf_token }}'},
                        success: function (data, status) {
                            if (status == "success") {
                                if (data == "ok") {
                                }
                                if (data == "null_id") {
                                }
                            }
                        },
                        error: function () {
                            alert("Error");
                        },
                        complete: function () {

                        }
                    });
                }
            });
            {#可拖动效果 jquery-ui.js 实现#}
            $("#step_list tbody").attr({id: "step_list_id"});
            $("#step_list_id").sortable();
        }
        {#执行加载函数，加载表格#}
        load_table();
        {#点击增加按钮，增加模块儿#}
        function add_step() {
            $('#step_list').bootstrapTable('insertRow', {
                index: 0,
                row: {
                    sn: 99999,
                    id: '',
                    sp_name: 'new_step',
                    sp_content: 'step_contant',
                    tester: '{{ block.tester }}',
                    sp_mf_time: '',
                    key_words: 'XXX',
                    locate_way:'XXX',
                    locate_content:'XXX',
                    value:'XXX',
                    sp_assert:'XXX',
                    yn: 1,
                    active: '<button id="btn_add" type="button" class="btn btn-default" onclick="delete_step(this)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>删除</button>'
                }

            });

            $.ajax({
                type: "post",
                contentType: "application/x-www-form-urlencoded",
                url: "/add_step/",
                data: {'block_id':{{ block_id }}, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, status) {
                    console.log(status)
                    if (status == "success") {
                        if (data == "ok") {
                            {#                    $('#step_list').bootstrapTable('refresh');#}
                            window.location.reload();
                        }
                    }
                },
                error: function () {
                    alert("Error");
                },
                complete: function () {

                }
            });

        }

        {#点击删除按钮，删除模块儿#}
        function delete_step(obj) {

            var row = $('#step_list').bootstrapTable('removeByIndex', $(obj).parent().parent().attr('data-index'));
            {# 页面上删除行，并返回行信息。删除按钮父节点的父节点-tr行标签，的dita-index属性；removeByIndex方法是新增了bootstrap-editable 中的方法通过index属性获取行信息#}
            var a = $.ajax({
                type: "post",
                contentType: "application/x-www-form-urlencoded",
                url: "/delete_step/",
                data: {"row": JSON.stringify(row), csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, status) {
                    if (status == "success") {
                        if (data == "ok") {
                            alert("删除成功");
                        }
                        if (data == "null") {
                        }
                    }
                },
                error: function () {
                    alert("出错了");
                },
                complete: function () {

                }
            });

        }


        {#保存排序#}
        function save_step_sn(obj) {
            var table_length = $("#step_list_id tr").length;
            var sn_json = {};
            for (var i = 1; i <= table_length; i++) {
                sn_json[i] = $("#step_list_id tr").eq(i - 1).find("td:eq(1)").text();
                //alert(JSON.stringify(sn_json))
            };

            $.ajax({
                type: "post",
                contentType: "application/x-www-form-urlencoded",
                url: "/save_step_sn/",

                data: {"sn_json": JSON.stringify(sn_json), csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, status) {
                    if (status == "success") {
                        if (data == "ok") {
                            alert("更新顺序成功");
                        }
                        window.location.reload();
                    }
                },
                error: function () {
                    alert("出错了");
                },
                complete: function () {

                }
            });
        }


        {#开始执行步骤#}
        function start_steps(obj) {
            $.ajax({
                type: "get",
                contentType: "application/x-www-form-urlencoded",
                url: "/start_steps/{{ block_id }}",
                success: function (data, status) {
                    if (status == "success") {
                        if (data == "ok") {
                            alert("执行完毕");
                        }
                    }
                },
                error: function () {
                    alert("出错了");
                },
                complete: function () {

                }
            });
        }


    </script>
{% endblock %}